models/sinusoidal_regression/SR_tf_embd512_layer8_lr1e-4/tensorboard/
models/sinusoidal_regression/SR_mamba_embd512_layer8_lr1e-4/tensorboard/
models/long_term_dependency/LTD_gpt2_embd512_layer8_lr1e-4/tensorboard/
models/long_term_dependency/LTD_mamba_embd512_layer8_lr1e-4/tensorboard/
models/modulo_classification/MC_gpt2_embd512_layer8_lr1e-4_dims-100-500/tensorboard/
models/modulo_classification/MC_mamba_embd512_layer8_lr1e-4_dims-100-500/tensorboard/
models/euclidean_distance/ED_mamba_embd128_layer4_lr1e-4/tensorboard/
models/euclidean_distance/ED_tf_embd128_layer2_lr1e-4/tensorboard/
*.pt
